body {
    margin: 0;
    background-color: black;
    overflow-x:hidden;
    overflow-y:hidden;
    width: 100vw;
    height: 100vh;
    user-select:none;
}
#loading{
    width: 40%;
    height: 35%;
    background-color: rgba(0,0,0,0.2);
    font-size: 3vw;
    position: absolute;
    border-radius: 25px;
    color: white;
    left: 20%;
    text-align: center;
}
#gameOver {
    width: 25%;
    height: 30%;
    background-color: rgba(0,0,0,0.2);
    font-size: 3vw;
    text-align: center;
    color: white;
    z-index: 2;
    position:absolute;
    left:35%;
    top:20%;
    border-radius: 25px;
}
#restartButton{
    border-radius: 10px;
    background-color: rgb(200,70,30);
    height: 15% ;
    width: 30%;
    border: none;
    font-size: 1.5vw;
    outline: 0px;
    color: white;
}
canvas {
    display:block;

}
#score{
    font-size: 54px;
    z-index:3;
    position: absolute;
    text-align: center;
    color: white;
    left: 49%;

}
