body {
    margin: 0;
    background-color: black;
    overflow-x:hidden;
    overflow-y:hidden;
    width: 100vw;
    height: 100vh;

}

#gameOver {
    width: 30%;
    height: 30%;
    background-color: #3300aa;
    text-align: center;
    color: white;
    z-index: 2;
    position:absolute;
    left:35%;
    top:20%;
}

canvas {
    display:block;

}
#score{
    font-size: 54px;
    z-index:3;
    position: absolute;
    text-align: center;
    color: white;
    left: 49%;

}
