body {
    margin: 0;
    background-color: black;

}

#gameOver {
    width: 30%;
    height: 30%;
    background-color: #3300aa;
    text-align: center;
    color: white;
    z-index: 2;
    position:absolute;
    left:35%;
    top:20%;


}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y:hidden;
    overflow-x:hidden;
}